<%- include('partials/header'); -%>

<div class="a-main">
    <div class="b-dashboard-parent">
        <div class="b-dashboard-sidebar">
            <div class="row justify-content-center">
                <p>profile</p>
            </div>
            <div class="row">
                <ul>
                    <li class="c-btn-sidebar"><a href="/dashboard">Dashboard</a></li>
                    <li class="c-btn-sidebar"><a href="/dashboard">Stock</a></li>
                    <li class="c-btn-sidebar"><a href="/dashboard">Report</a></li>
                </ul>
            </div>
        </div>
        <div class="b-dashboard-details">
            <p>details</p>
        </div>
    </div>
</div>