<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Health Pharmacy - SRePS</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="parent">
        <div class="a-header">
            <nav class="navbar shadow navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""
                        loading="lazy">
                    Bootstrap
                </a>
            </nav>
        </div>
        <div class="a-main">
            <div class="a-welcome-container">
                <div class="row justify-content-center">
                    <div class="col-sm-4 text-center">
                        <h3 class="text-center">Welcome to <br> People Health Pharmacy Inc.</h3>
                        <a href="/dashboard" class="btn btn-primary mt-4">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="a-footer text-center">
            <small><strong>Sales Reporting and Prediction System - v<%= version %></strong></small><br>
            <small class="secondary-label-color">Developed by Dennis Son Le</small>
        </div>
    </div>
</body>

</html>